/* styles/AdminDashboard.module.css */

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.roomInfoContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center; /* Vertically center-aligns items */
  border-bottom: 1px solid #ddd;
}

.infoRow:last-child {
  border-bottom: none;
}

.infoLabel {
  font-weight: bold;
  color: #555;
  flex: 1;
  align-items: center; /* Vertically center-aligns items */
  text-align: left;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
}

.saveButton {
  padding: 10px 20px;
  width: 100%;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.saveButton:hover {
  background-color: #005bb5;
}

.checkInRecords {
  padding: 15px;
}

.checkInRecord {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.checkOutButton {
  background-color: #d9534f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkOutButton:hover {
  background-color: #c9302c;
}
